In [2]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.impute import SimpleImputer

In [3]:
data=pd.read_csv('salesnew.csv')

In [4]:
df=pd.DataFrame(data)

In [5]:
df.head()

   S.No  Country   Age   Salary Purchased
0     1   France  44.0  72000.0        No
1     2    Spain  27.0  48000.0       Yes
2     3  Germany  30.0  54000.0        No
3     4    Spain  38.0  61000.0       NaN
4     5  Germany  40.0      NaN       Yes

In [6]:
df.tail()

   S.No  Country   Age   Salary Purchased
5     6   France  23.0  58000.0       Yes
6     7    Spain   NaN  52000.0        No
7     8      NaN  48.0  79000.0       Yes
8     9  Germany  50.0  83000.0        No
9    10   France   NaN  67000.0       Yes

In [7]:
print(df)

   S.No  Country   Age   Salary Purchased
0     1   France  44.0  72000.0        No
1     2    Spain  27.0  48000.0       Yes
2     3  Germany  30.0  54000.0        No
3     4    Spain  38.0  61000.0       NaN
4     5  Germany  40.0      NaN       Yes
5     6   France  23.0  58000.0       Yes
6     7    Spain   NaN  52000.0        No
7     8      NaN  48.0  79000.0       Yes
8     9  Germany  50.0  83000.0        No
9    10   France   NaN  67000.0       Yes

In [8]:
null_values=df.isnull().sum()
print(null_values)

S.No         0
Country      1
Age          2
Salary       1
Purchased    1
dtype: int64

In [9]:
imputer=SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(df[['Salary']])
df['Salary']=imputer.fit_transform(df[['Salary']])
print(df)

   S.No  Country   Age        Salary Purchased
0     1   France  44.0  72000.000000        No
1     2    Spain  27.0  48000.000000       Yes
2     3  Germany  30.0  54000.000000        No
3     4    Spain  38.0  61000.000000       NaN
4     5  Germany  40.0  63777.777778       Yes
5     6   France  23.0  58000.000000       Yes
6     7    Spain   NaN  52000.000000        No
7     8      NaN  48.0  79000.000000       Yes
8     9  Germany  50.0  83000.000000        No
9    10   France   NaN  67000.000000       Yes

In [10]:
imputer=SimpleImputer(missing_values=np.nan, strategy='median')
imputer.fit(df[['Age']])
df['Age']=imputer.fit_transform(df[['Age']])
print(df)

   S.No  Country   Age        Salary Purchased
0     1   France  44.0  72000.000000        No
1     2    Spain  27.0  48000.000000       Yes
2     3  Germany  30.0  54000.000000        No
3     4    Spain  38.0  61000.000000       NaN
4     5  Germany  40.0  63777.777778       Yes
5     6   France  23.0  58000.000000       Yes
6     7    Spain  39.0  52000.000000        No
7     8      NaN  48.0  79000.000000       Yes
8     9  Germany  50.0  83000.000000        No
9    10   France  39.0  67000.000000       Yes

In [11]:
imputer=SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imputer.fit(df[['Country']])
df['Country']=imputer.fit_transform(df[['Country']])
print(df)

   S.No  Country   Age        Salary Purchased
0     1   France  44.0  72000.000000        No
1     2    Spain  27.0  48000.000000       Yes
2     3  Germany  30.0  54000.000000        No
3     4    Spain  38.0  61000.000000       NaN
4     5  Germany  40.0  63777.777778       Yes
5     6   France  23.0  58000.000000       Yes
6     7    Spain  39.0  52000.000000        No
7     8   France  48.0  79000.000000       Yes
8     9  Germany  50.0  83000.000000        No
9    10   France  39.0  67000.000000       Yes

In [12]:
imputer=SimpleImputer(missing_values=np.nan, strategy='constant', fill_value='No')
imputer.fit(df[['Purchased']])
df['Purchased']=imputer.fit_transform(df[['Purchased']])
print(df)

   S.No  Country   Age        Salary Purchased
0     1   France  44.0  72000.000000        No
1     2    Spain  27.0  48000.000000       Yes
2     3  Germany  30.0  54000.000000        No
3     4    Spain  38.0  61000.000000        No
4     5  Germany  40.0  63777.777778       Yes
5     6   France  23.0  58000.000000       Yes
6     7    Spain  39.0  52000.000000        No
7     8   France  48.0  79000.000000       Yes
8     9  Germany  50.0  83000.000000        No
9    10   France  39.0  67000.000000       Yes

In [13]:
onehotencoded_data = pd.get_dummies(data, columns = ['Purchased'])
print(onehotencoded_data)

   S.No  Country   Age        Salary  Purchased_No  Purchased_Yes
0     1   France  44.0  72000.000000             1              0
1     2    Spain  27.0  48000.000000             0              1
2     3  Germany  30.0  54000.000000             1              0
3     4    Spain  38.0  61000.000000             1              0
4     5  Germany  40.0  63777.777778             0              1
5     6   France  23.0  58000.000000             0              1
6     7    Spain  39.0  52000.000000             1              0
7     8   France  48.0  79000.000000             0              1
8     9  Germany  50.0  83000.000000             1              0
9    10   France  39.0  67000.000000             0              1

In [14]:
label_encoder = preprocessing.LabelEncoder()
df['Purchased']= label_encoder.fit_transform(df['Purchased'].astype(str))
print(df)

   S.No  Country   Age        Salary  Purchased
0     1   France  44.0  72000.000000          0
1     2    Spain  27.0  48000.000000          1
2     3  Germany  30.0  54000.000000          0
3     4    Spain  38.0  61000.000000          0
4     5  Germany  40.0  63777.777778          1
5     6   France  23.0  58000.000000          1
6     7    Spain  39.0  52000.000000          0
7     8   France  48.0  79000.000000          1
8     9  Germany  50.0  83000.000000          0
9    10   France  39.0  67000.000000          1

In [15]:
# Feature Splitting
#create a column datetime

df["datetime"] = [
    "2021-09-08 12:31:00",
    "2022-01-23 05:01:00",
    "2022-08-15 17:02:00",
    "2023-03-08 09:03:00",
    "2023-06-24 21:04:00",
    "2021-11-10 03:05:00",
    "2022-05-03 15:06:00",
    "2023-02-12 07:07:00",
    "2022-07-18 19:08:00",
    "2023-04-09 11:09:00",
]

df['datetime'] = pd.to_datetime(df['datetime'])
print(df)

   S.No  Country   Age        Salary  Purchased            datetime
0     1   France  44.0  72000.000000          0 2021-09-08 12:31:00
1     2    Spain  27.0  48000.000000          1 2022-01-23 05:01:00
2     3  Germany  30.0  54000.000000          0 2022-08-15 17:02:00
3     4    Spain  38.0  61000.000000          0 2023-03-08 09:03:00
4     5  Germany  40.0  63777.777778          1 2023-06-24 21:04:00
5     6   France  23.0  58000.000000          1 2021-11-10 03:05:00
6     7    Spain  39.0  52000.000000          0 2022-05-03 15:06:00
7     8   France  48.0  79000.000000          1 2023-02-12 07:07:00
8     9  Germany  50.0  83000.000000          0 2022-07-18 19:08:00
9    10   France  39.0  67000.000000          1 2023-04-09 11:09:00

In [16]:
# Splitting the column datetime
df['Date'] = df["datetime"].dt.date
df['Time'] = df["datetime"].dt.time

print(df)

   S.No  Country   Age        Salary  Purchased            datetime  \
0     1   France  44.0  72000.000000          0 2021-09-08 12:31:00
1     2    Spain  27.0  48000.000000          1 2022-01-23 05:01:00
2     3  Germany  30.0  54000.000000          0 2022-08-15 17:02:00
3     4    Spain  38.0  61000.000000          0 2023-03-08 09:03:00
4     5  Germany  40.0  63777.777778          1 2023-06-24 21:04:00
5     6   France  23.0  58000.000000          1 2021-11-10 03:05:00
6     7    Spain  39.0  52000.000000          0 2022-05-03 15:06:00
7     8   France  48.0  79000.000000          1 2023-02-12 07:07:00
8     9  Germany  50.0  83000.000000          0 2022-07-18 19:08:00
9    10   France  39.0  67000.000000          1 2023-04-09 11:09:00

         Date      Time
0  2021-09-08  12:31:00
1  2022-01-23  05:01:00
2  2022-08-15  17:02:00
3  2023-03-08  09:03:00
4  2023-06-24  21:04:00
5  2021-11-10  03:05:00
6  2022-05-03  15:06:00
7  2023-02-12  07:07:00
8  2022-07-18  19:08:00
9  2023-04-09  11:09:00

In [17]:
# Feature Creation
# Create a column for weekday/weekend
df["Day"] = df["datetime"].dt.weekday
df["Weekend"] = df["Day"] >= 5
print(df)

   S.No  Country   Age        Salary  Purchased            datetime  \
0     1   France  44.0  72000.000000          0 2021-09-08 12:31:00
1     2    Spain  27.0  48000.000000          1 2022-01-23 05:01:00
2     3  Germany  30.0  54000.000000          0 2022-08-15 17:02:00
3     4    Spain  38.0  61000.000000          0 2023-03-08 09:03:00
4     5  Germany  40.0  63777.777778          1 2023-06-24 21:04:00
5     6   France  23.0  58000.000000          1 2021-11-10 03:05:00
6     7    Spain  39.0  52000.000000          0 2022-05-03 15:06:00
7     8   France  48.0  79000.000000          1 2023-02-12 07:07:00
8     9  Germany  50.0  83000.000000          0 2022-07-18 19:08:00
9    10   France  39.0  67000.000000          1 2023-04-09 11:09:00

         Date      Time  Day  Weekend
0  2021-09-08  12:31:00    2    False
1  2022-01-23  05:01:00    6     True
2  2022-08-15  17:02:00    0    False
3  2023-03-08  09:03:00    2    False
4  2023-06-24  21:04:00    5     True
5  2021-11-10  03:05:00    2    False
6  2022-05-03  15:06:00    1    False
7  2023-02-12  07:07:00    6     True
8  2022-07-18  19:08:00    0    False
9  2023-04-09  11:09:00    6     True

In [18]:
# Binning

# function to create the range for bins
def binning(lower_bound, width, quantity):
   binning = []
   for low in range(lower_bound, lower_bound + quantity * width + 1, width):
      binning.append((low, low + width))
   return binning

# function to assign the values according to the range of bins
def assignBin(v, b):
   for i in range(0, len(b)):
      if b[i][0] <= v < b[i][1]:
         return i

#creating bins
the_bins = binning(lower_bound=20,
   width=5,
   quantity=10)
print("The Bins: ",the_bins)

The Bins:  [(20, 25), (25, 30), (30, 35), (35, 40), (40, 45), (45, 50), (50, 55), (55, 60), (60, 65), (65, 70), (70, 75)]

In [19]:
# create and store the values of column Age in a dictionary
dict={"Value":[],"Bins":[]};
X = df["Age"]
print("Binned Values:")
binned_weight = []
for val in X:
   index = assignBin(val, the_bins)
   binned_weight.append(index)
   dict["Value"].append(val)
   dict["Bins"].append(index)

print(dict)

Binned Values:
{'Value': [44.0, 27.0, 30.0, 38.0, 40.0, 23.0, 39.0, 48.0, 50.0, 39.0], 'Bins': [4, 1, 2, 3, 4, 0, 3, 5, 6, 3]}

In [20]:
# create a new datafraame to store the bin ranges and values
bin_df = pd.DataFrame(dict)
print(bin_df)

   Value  Bins
0   44.0     4
1   27.0     1
2   30.0     2
3   38.0     3
4   40.0     4
5   23.0     0
6   39.0     3
7   48.0     5
8   50.0     6
9   39.0     3

In [21]:
# Frequency table of column Age
bin_df["Bins"].value_counts()

3    3
4    2
1    1
2    1
0    1
5    1
6    1
Name: Bins, dtype: int64