In [37]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_absolute_error,mean_squared_error

In [38]:
data=pd.read_csv('salarydata.csv')

In [39]:
df=pd.DataFrame(data)

In [40]:
df.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [41]:
X = np.array(df["YearsExperience"]).reshape(-1,1)
Y = np.array(df["Salary"]).reshape(-1,1)

In [42]:
X_train, X_test, Y_train, Y_test=train_test_split(X,Y,test_size=0.2)

In [43]:
X_train.shape

(24, 1)

In [44]:
Y_train.shape

(24, 1)

In [45]:
lr=LinearRegression()

In [46]:
lr.fit(X_train, Y_train)

LinearRegression()

In [48]:
y_pred = lr.predict(X_test)

In [49]:
lr.score(X_test,Y_test)

0.9307508136879269

In [50]:
mean_absolute_error(Y_test,y_pred)

4728.06217001412

In [51]:
mean_squared_error(y_pred,Y_test)

32244922.866088998